@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --cor-principal: #1E3E62;
  --cor-secundaria: #0B192C;

  --fonte-principal: "Krona One", sans-serif;
  --fonte-secundaria:"Montserrat", sans-serif;
}

* {
  @apply m-0 p-0;

}

body{
  @apply bg-[var(--cor-principal)] text-white;
  font-family: var(--fonte-secundaria);
}

/* ESTILIZAÇÃO DO CABELALHO */

header{
  @apply bg-[var(--cor-secundaria)] text-center;
}

.titulo{
  @apply text-[3rem] pt-[30px];
  font-family: "Krona One", sans-serif;
}

/* ESTILIZAÇÃO DO MENU */
.menu > nav > ul {
  @apply flex justify-center gap-[33px] pt-[33px] pb-[26px];
}

.menu > nav > ul > li {
  @apply list-none transition-transform duration-300 ease-in-out;
}

.menu > nav > ul > li:hover {
  @apply scale-110;
}

/* ESTILIZAÇÃO DA HOME PAGE */
.container_home {
  @apply my-[44px] mx-[44px] mb-[100px];
}

.introducao h1 {
  @apply text-[2.2rem];
  font-family: "Krona One", sans-serif;
}

.introducao p {
  @apply text-[1.1rem] max-w-[95vw];
}

.objetivo h1 {
  @apply text-[2.2rem] mt-[42px];
  font-family: "Krona One", sans-serif;
}

.objetivo p {
  @apply text-[1.1rem] max-w-[95vw];
}

.estrutura h1 {
  @apply text-[2.2rem] mt-[42px];
  font-family: "Krona One", sans-serif;
}

.estrutura p {
  @apply text-[1.1rem] max-w-[95vw];
}

.estrutura ul {
  @apply text-[1.1rem] my-[30px] list-disc list-inside; /* Altera o estilo da lista para circle */
}

/* ESTILIZAÇÃO DAS PÁGINAS DOS TRABALHOS */

.container_conteudo{
  @apply my-[44px] mx-[44px] mb-[100px];
}

.conteudo h1{
  @apply text-[2.2rem] mt-[42px];
  font-family: "Krona One", sans-serif;
}

.conteudo p{
  @apply text-[1.1rem] max-w-[95vw] mt-[10px];
}

.integrantes h1{
  @apply text-[2.2rem] mt-[42px];
  font-family: "Krona One", sans-serif;
}

.integrantes nav{
  @apply mt-[42px]
}

.integrantes nav ul {
  @apply flex items-center gap-[60px];
}

.integrantes nav ul li {
  @apply bg-white w-[310px] flex flex-col items-center rounded-[10px] shadow-md;
}

.foto_integrante {
  @apply pt-[30px];
}

.links_integrantes {
  @apply py-[10px] text-black transition-transform duration-300 ease-in-out;
}

.links_integrantes:hover{
  @apply scale-110;
}

/* ESTILIZAÇÃO DO FOOTER */

.rodape {
  @apply bg-[var(--cor-secundaria)];
}

.rodape h2 {
  @apply pt-[27px] text-center text-[1.2em];
}

.container_redes {
  @apply pt-[30px] pb-[30px] flex gap-[99px] justify-center;
}

.redes {
  @apply flex flex-col items-center;
}

.redes ul {
  @apply pt-[10px] flex flex-col items-center;
}

.redes ul li{
  @apply transition-transform duration-300 ease-in-out;
}

.redes ul li:hover{
  @apply scale-110;
}




