@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --cor-principal: #1E3E62;
  --cor-secundaria: #0B192C;

  --fonte-principal: "Krona One", sans-serif;
  --fonte-secundaria:"Montserrat", sans-serif;
}

* {
  @apply m-0 p-0;

}

body{
  @apply bg-[var(--cor-principal)] text-white;
  font-family: var(--fonte-secundaria);
}

/* ESTILIZAÇÃO DO CABELALHO */

header{
  @apply bg-[var(--cor-secundaria)] text-center;
}

.titulo{
  @apply text-[3rem] pt-[30px];
  font-family: "Krona One", sans-serif;
}

/* ESTILIZAÇÃO DO MENU */
.menu > nav > ul {
  @apply flex justify-center gap-[33px] pt-[33px] pb-[26px];
}

.menu > nav > ul > li {
  @apply list-none transition-transform duration-300 ease-in-out;
}

.menu > nav > ul > li:hover {
  @apply scale-110;
}



/* ESTILIZAÇÃO DA HOME PAGE */
@layer components {
  .containerHome {
    @apply m-[20px]  items-center justify-evenly;
  }

}

 /* ESTILIZAÇÃO DO CONTEUDO DO CP */
 .cards-i {
  @apply flex flex-row justify-evenly p-[20px];

  img {
    @apply w-[400px] h-[480px] rounded-[40px];
  }
}

.duda {
  @apply shadow-[0_2px_9px_2px_rgba(127,127,126,1)] rounded-[40px] flex flex-col;

  p {
    @apply py-[12px] pl-[10px] font-semibold text-[22px];
  }
}

.gu {
  @apply shadow-[0_2px_9px_2px_rgba(127,127,126,1)] rounded-[50px] flex flex-col;

  p {
    @apply py-[12px] pl-[10px] font-semibold text-[22px];
  }
}

/* ESTILIZAÇÃO DO FOOTER */

.rodape {
  @apply bg-[var(--cor-secundaria)];
}

.rodape h2 {
  @apply pt-[27px] text-center text-[1.2em];
}

.container_redes {
  @apply pt-[30px] pb-[30px] flex gap-[99px] justify-center;
}

.redes {
  @apply flex flex-col items-center;
}

.redes ul {
  @apply pt-[10px] flex flex-col items-center;
}

.redes ul li{
  @apply transition-transform duration-300 ease-in-out;
}

.redes ul li:hover{
  @apply scale-110;
}




